@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #dc2626;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

section {
  scroll-margin-top: 6rem;
}

body {
  line-height: 1.6;
}
